.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
  gap: 20px;
}



.empty-products {
  text-align: center;
  font-size: 24px;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 400px;
  margin: 0 auto;
  border-radius: 24px;
}

.empty-products:hover {
  border: 2px solid #f44336;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

.product-grid p {
  font-size : 24px;
  font-weight: bold;
  color: #222
}
