/* ======================
   RESET / BASE
====================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #fafafa;
    color: #000;
}


header {
    position:absolute;
    top:24px;
    left:40px;
}

header.logo {
    padding: 20px 40px;
    
}

header.logo img {
    height: 36px;
}

main.auth-layout {
    display: flex;
    flex:1;
    align-items: center;
    margin-top:10px;

    background-color: #fff;
    border: 1px solid #dbdbdb;
}

.center-part {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 48px;
    border-right: 1px solid rgba(0,0,0,0.08)
}

.text-block h1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
    margin-bottom: 32px;
}

.speacial-text {
    color: #ff0069;
}

.images-block img {
    max-width: 420px;
    height: auto;
}


.right-part {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 80px;

    padding: 32px;
    padding-left:48px;
}


.card {
    width: 100%;
    max-width: 350px;
    padding: 24px;

    
    background-color: #fff;
}

.text-above {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 12px;
    margin-right:12px ;
    font-weight: bold;
}

.card input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 10px;

    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
}

.card input:focus {
    outline: none;
    border-color: #a8a8a8;
}


.card button {
    width: 100%;
    padding: 8px 0;
    margin-top: 6px;

    font-size: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/* login */
.submit-btn button {
    background-color: #4cb5f9;
    color: white;
    font-weight: 600;
    border-radius: 18px;
}

/* forgot */
.forgot-password-btn button {
    background: none;
    color: #00376b;
    font-size: 12px;
    margin-top: 12px;
}


.card::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #dbdbdb;
    margin: 20px 0;
}


.social-actions button {
    background: none;
    color: #385185;
    font-weight: 600;
    border:1px solid #dbdbdb;
    border-radius: 12px;
}


.create-account-btn button {
    background: none;
    border: 1px solid #3700ff;
    color:#3700ff;
    margin-top: 12px;
    border-radius: 24px ;
}

.meta-logo {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.meta-logo img {
    height: 32px;
    opacity: 0.85;
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 12px;
    color: #8e8e8e;
    margin-bottom: 24px;

}
