* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c7c7c7;
    color: #1c1e21;
}

.container {
    display: flex;
    width: 980px;
    gap:60px;
    align-items: center;
}


section {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LEFT PART */
.left-part {
    flex:1.2
}

.logo h2 {
    font-size:56px;
    color: #006eff;
    font-weight: bold;
    margin-bottom: 16px;
}

.description p {
    font-size:24px;
    line-height: 28px;
}


/* right part  */

.right-part {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card {
    background-color: #fff;
    width: 100%;
    max-width: 396px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}


input {
    width: 100%;
    padding:14px;
    margin-bottom: 12px;
    font-size:16px;

    border:1px solid #dddfe2;
    border-radius: 6px;
}

input:focus {
    outline:none;
    border-color:#1877f2;
}

/* buttons */

button {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border-radius: 6px;
    border:none;
    cursor:pointer
}

.submit button {
    background-color: #1877f2;
    color:white;
    font-weight: bold;
}

.submit button:hover {
    background-color: #166fe5;
    font-weight: bold;
}

.forgot-password {
    text-align: center;
    margin-top: 8px;
}

.forgot-password button {
    background-color: white;
    color: #1877f2;
    font-size:14px
}

.forgot-password button:hover {
    font-weight: bold;
}


.divider {
    height: 1px;
    background-color: #dadde1;
    margin:20px 0;
}




.create-account button {
    width: 60%;
    height: 60px;
    margin-left: 70px;
    background-color: #42b72a;
    color:white;
    font-weight: bold;
}

.create-account:hover {
    background-color: #36a420;
    font-weight: bold;
    
}


.card-footer-text {
    margin-top:24px;
    text-align: center;
    font-size:14px;
    color: #1c1e21;
}

.card-footer-text strong {
    color:#000;
    cursor: pointer;
}

.card-footer-text strong:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    height: 300px;
    background-color: #fffdfd;
    text-align: center;
    font-size:14px;
    color: #737373;
    margin-bottom: 16px;
}