* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    font-family: font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #191919;
    background-color: #ffffff;
}


:root {
    --linkedin-blue: #0A66C2;
    --linkedin-blue-hover: #004182;
    --linkedin-light: #EEF3F8;
    --bg-white: #FFFFFF;
    --text-dark: #191919;
    --text-secondary: #666666;
    --text-muted: #999999;
    --border-color: #E0E0E0;
    --success-green: #057642;
}

.header {
    position:sticky;
    top: 0;
    z-index: 100;
    background-color: #191919;
    border-bottom: 1px solid var(--border-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 120px;
    margin:0 auto;
    padding: 12px 24px;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}



.text-logo-part {
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
}

.logo-box {
    background-color: #0A66C2;
    display:flex;
    font-weight: 700;
    font-size:22px;

    padding: 2px 6px;
    border-radius: 8px;
    margin-left: 4px;

}


.hero-text {
    font-family: var(--text-secondary);
}





.highlight {
    color:#B24020;
}

.hero  {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    font-family: var(--text-secondary);
    align-items: flex-start;
    justify-content: left;
    display: flex;
    margin-left:16px;
    margin-top:24px;
}

.hero-form {
    display: flex;
    flex-direction: column;
    justify-content: right;
    color:
}

