# Python
__pycache__/
*.py[cod]
*$py.class

# Environments (Виртуальное окружение)
venv/
env/
.env

# Database (Локальная БД - по заданию ее пушить нельзя)
db.sqlite3

# IDEs
.idea/
.vscode/

# Django-specific
static/
media/