* {
    box-sizing: border-box;
    margin : 0 ;
    padding : 0;
}

body {
    font-family: sans-serif;
    background: #f5f5f5;
}

.navBar {
    background: #222
}

.nav {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px; 
    color: rgb(90, 89, 89)
}

.Main {
    max-width: 800px;
    margin: 40px auto;
    padding:20px;
}

.headingText {
    text-align: center;
    margin-bottom: 24px;
}

.writing-part {
    display: flex;
    gap:10px;
    align-items: center;
    height: 50%;
}

.input-part {
    /* nudge the input slightly to the right */
    margin-left: 10px;
    height: 60%;
    width: 100%;
}

.writing-part form {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
    height: 60%;
    width: 100%;
}

#taskInput {
    flex:1;
    padding:10px;
    font-size: 16px;
    
    width: 80%;
    margin-left : 20px
}

.Add-button {
    padding: 10px 16px;
    cursor: pointer;
    background-color: rgb(1, 6, 247);
    font-weight: bold;
    color:white
}



.task-item {
    display: flex;
    align-items: center;
    gap:10px;
    border: 1px solid #6e6e6e;
    padding: 8px 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    background: #ffffff;
    
}

.task-text.completed {
    width: 40%;
    height: 40%;
    text-decoration: line-through;
    color: gray;
}

.task-text {
    font-size: 24px;
}

.task-delete {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-left: 360px;
    border: 2px #222;
}


.task-checkbox {
    width: 22px;
    height: 22px;
}